.book-preview {
	background-color: lightgreen;
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 200px;
	width: 200px;
	border-radius: 10px;
}

.book-preview p {
	text-align: center;
	text-transform: capitalize;
}

.book-preview .img-container {
	height: 100px;
}
